.events {
    background-color: #ffffff;
    text-align: center;
}

.events .slick-slider.slick-initialized {
    width: 90%;
}
.events .slick-slide {
}
/* Hover 애니메이션 */
.events .slick-slide:hover {
    opacity: 1;
}

.modal-content events-img {
    width: 100%;
    height: 80%;
    margin-top: 20px;
    object-fit: contain; /* 비율을 유지하면서 크기를 조정 */
    background: black;
}

.slide events-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 5px;
    object-fit: cover; /* 이미지 비율 유지 및 슬라이더 채우기 */
    transition: transform 0.2s ease; /* 이미지 확대 전환 효과 */
}
.slide:hover events-img {
    transform: scale(1.1); /* 이미지 약간 더 확대 */
}